.both{
    display: flex;
}
.left{
    background-color: #ffffff;
    width: 20%;
}
.right{
    background-color: #F2F5F7;
    width: 85%;
    
}

@media screen and (max-width: 768px){
    .left{
        width: 40%;    }
    
}