.editProfileDiv {
  padding: 20px;
}
.editProfilecontainer {
  width: 100%;
  background-color: white;
  border-radius: 12px;
}
/* form */
.edit-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.edit-form-f {
  display: flex;
  flex-direction: column;
}
.edit-form-s {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.subcontainer{
  display: flex;
  flex-direction: row;
gap:10%;
}
.edit-form-t {
  display: flex;
  flex-direction: column;
  width: 50%;

}

.edit-switch {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}
.edit-switch p {
  padding-right: 5px;
}
.switch {
  background-color: #0eb6ad;
}
.edit-button  {
  margin-top: 15px;

  width: 25%;
  height: 40px;
  color: white;
  background-color: var(--main-color);
  border: none;
  border-radius: 4px;
  font-weight: 500;
}
.edit-button-admin{

  width: 25%;
  height: 40px;
  color: white;
  background-color: var(--main-color);
  border: none;
  border-radius: 4px;
  font-weight: 500;
}
.edit-button.ant-btn-primary:hover,
.ant-btn-primary:focus {
  color: #fff;
  border-color: var(--main-color);
  background: #0eb6ad;
}
.edit-button-admin.ant-btn-primary:hover,
.ant-btn-primary:focus {
  color: #fff;
  border-color: var(--main-color);
  background: #0eb6ad;
}
@media screen and (max-width: 700px) {
  .edit-form {
    width: 100%;
    flex-direction: column;
  }
  .edit-form {
    width: 100%;
  }
  .edit-form-f {
    flex-direction: column;
  }
  .edit-form-s {
    width: 100%;
  }

  .edit-form-t {
    width: 100%;
    align-self: center;
  }
  .edit-button {
    width: 100%;
  }
  .edit-button-admin {
    width: 100%;
  }
  .subcontainer{
    flex-direction: column;
  }
  .edit-nav{
    margin-top: 0px;
    margin-bottom: 10px;
  }
  .noti{
    margin-top: 10px;

  }
  .ImageUploader{

    text-align: center;

  }
}
