*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #13e0d5;
  --secondary-color: #646d82;
}
html {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

body {
  font-family: "montserrat ", -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-color: #f2f5f7;
}
/* not Found Style */
.not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f3f5f8;
}

.not-found-dashboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.not-found-gym-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f3f5f8;
  height: 50vh;
}

.not-found-section {
  min-width: 25vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #13e0d5;
}

.not-found-title {
  width: 100%;
  display: block;
  text-align: center;
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 5em;
}

#box2 {
  color: #333;
  text-align: center;
}

.notFound {
  fill: #ffffff;
  stroke: #13e0d5;
  stroke-width: 1.5;
  animation: lupa 5s infinite;
}
.notFound rect {
  stroke: none;
}

.not-found-subTitle {
  width: 100%;
  display: block;
  text-align: center;
  font-weight: bolder;
  font-size: 1.5em;
}
.not-found-back {
  padding: 0.5rem 1.25rem;
  background: #13e0d5;
  color: #fff;
  border-radius: 0.25rem;
  margin-top: 1rem;
}
a,
a::after,
a::before,
a:hover,
a:focus {
  text-decoration: none;
}
input,
input::after,
input::before,
textarea,
textarea::after,
textarea::before,
textarea,
select {
  outline: none;
  border: none;
}
select,
button {
  border: none;
  cursor: pointer;
  background: transparent;
}

ul,
li,
ol {
  list-style: none;
  text-decoration: none;
}

.both {
  display: flex;
  height: 100vh;

}
.sidebarinlayout {
  width: 22%;
  background-color: white;
}
.navbarinlayout {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 700px) {
  .sidebarinlayout {
    display: none;
  }
}
